* {
    background-color: lightblue;
}
html, body {
    height: 100%;
    margin: 0;
}

.content {
    min-height: 100%;
    padding: 20px;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
    color: rgb(3, 36, 95);
    font-size: 3em;
    font-weight: bolder;
    text-shadow: white 2px 3px;
}

h2, p {
    color:rgb(29, 62, 119);
}

img {
    height: 50vh;
}

button {
    margin: 5px;
    
}

footer {
    background-color: rgb(3, 36, 95);
    color: white;
    height:50px;
    margin-top: -50px;
}

#favLink{
   text-decoration: none;
   color:rgb(3, 36, 95);
}

#navBar {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.submitBtn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    display: inherit;
}

nav li {
    display: inline;
}

.homeImage {
    /* height: 35vh;
    width: 45vw; */
    margin: 5px;
}

.placePic {
    margin: 10px;
}

.homeLink{
    font-size: .6em;
}

/*Changed to overwrite bootstrap instead of using my ID's*/
/* #homePlaceBtn, #newPlaceBtn, #submitBtn  */
.btn-primary {
    height: 5vh;
    width: 15vh;
    background-color:rgb(3, 36, 95);
    border-color: white;
    margin: 5px;
    border-radius: 20px;
}

form {
    margin: 10px;
}

label {
    color: rgb(3, 36, 95);
    font-size: 1.5em;
    margin: 5px;
}

input {
    border:rgb(3, 36, 95) 2px 2px;
}

